body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.main {
  display:flex;
  flex-direction: column;
  background-color: darkgreen;
  width: 100%;
  height: 100%;
}

.header,.footer {
  height: 20%;
  width: 100%;
  background-color: darkred;

}

.content{
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
}

.side{
  width: 20%;
  height: 100%;
  background-color: red;
}

.apple{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  width: 60%;
  height: 100%;
  background-color: orange;

}

.popup{
  width: 60%;
  height: 40%;
  background: yellow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display: none;


}
@media screen and (max-width: 800px) {
    .content{
      flex-direction: column;

    }
    .side{
      width: 100%;

    }
    .apple{
      width: 100%;
    }

    p{
      font-size: 1rem;
    }
    .popup{
      display: block;
    }
}
