.move {
  transform: translateX(300px);
}

.button{

  cursor: pointer;
  position: fixed;
  right: 0;
}

#box{
  width: 300px;
  height: 100vh;
  position: fixed;
  top:0;
  left:-300px;
  background: black;
  transition: transform 5s ease;
  color: white;
}

.marquee {
  width: 300px; /* the plugin works for responsive layouts so width is not necessary */
  overflow: hidden;
  border:1px solid #ccc;
}
