.menu-item{
  padding: 25px;


}

.menu-item a{
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}
.garden-img{
  background-image: url("garden.jpg");
   background-position: center;
   background-size: contain;
}
.up-left{
   position: fixed;
   top: 0;
   left: 0;
   width: 300px;
   height: 100px;
   background-color: green;
   color: white;
   padding: 10px;
   margin: 10px;
}

.up-right{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100px;
  background-color: teal;
  color: white;
  padding: 10px;
  margin: 10px;

}

.down-left{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100px;
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 10px;
}

.down-right{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100px;
  background-color: darkblue;
  color: white;
  padding: 10px;
  margin: 10px;

}
* {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat967.cur), auto !important;}
