body{
  animation: colorswap 2s alternate infinite;

}

@keyframes colorswap{
  0%{
    background-color: white;
  }

  100%{
     background-color: black;
  }
}
.circle{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 height: 800px;
 width: 800px;
 border-radius: 50%;
 background-image: url("planet.png");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 animation: spin 10s infinite linear;
}

.title{
    font-size: 50px;
    animation: flash 5s alternate infinite;
}
.title:hover{
  font-size: 250px;

}

@keyframes spin {
  0%{
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 0 blue;
  }

  100%{
    transform: rotate(360deg);
    box-shadow: 0px 0px 50px 500px 50px blue;
  }
}

@keyframes flash {
  0%{
    color: blue;

  }

  100%{
    color: green;

  }
}
