.menu-item{
  padding: 25px;
}

.sect-1{
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 50% 0;
  background-color: green;
}

.poem-nav{
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px 0px;
  background: white;

}

* {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat967.cur), auto !important;}
