body{
  padding: none;
  margin: none;

}
.menu-item{
  padding: 25px;
}
.sect-4{
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  color: white;
  background-color: black;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sect-1{
  width: 100%;
  height: 300px;
  text-align: center;
  padding: 50% 0;
  background-color: green;
}


.sect-2{
  display: block;
  float: left;
  width: 50%;
  height: 300px;
  text-align: center;
  padding: 50% 0;
  margin: none;
  background-color: orange;

}

.sect-3{
  display: block;
  float: right;
  width: 50%;
  height: 300px;
  text-align: center;
  padding: 50% 0;
  margin: none;
  background-color: red;

}
.poem-nav{
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 25px 0px;
  background: white;

}

.sect-4 p {
    margin: 0;
    width: 100%;
    line-height: 50px;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-right 1s linear infinite;
    -webkit-animation: scroll-right 1s linear infinite;
    animation: scroll-right 30s linear infinite;
}

@-moz-keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
    }
}

@-webkit-keyframes scroll-right {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}

@keyframes scroll-right {
    0% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.sect-5{
  display: block;
  float: left;
  height: 250px;
  width: 33%;
  padding: 50px 25px;
  text-align: center;
  color: white;



}

* {cursor: url(http://cur.cursors-4u.net/nature/nat-10/nat967.cur), auto !important;}
